<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
    <title>Riddles API</title>
</head>
<br>
    <h1>Welcome to the Riddles API</h1>
    <div class="divider2"></div>
    <h2>A curated collection of the best riddles out there</h2>
    <section class="description">
    <p>A pure-Go API using the database/sql package</p>
    <p>Features:</p>
    <ul>
        <li>RESTful architecture</li>
        <li>HATEOAS-driven navigation</li>
        <li>Error handling</li>
        <li>Comprehensive non-intrusive logging</li>
        <li>IP-based access control for selected methods</li>
    </ul>
</section>

    <div class="divider2"></div>
     <div class="divider2"></div>
       <button id="riddleButton" class="riddle-button">Tell me a riddle</button>
    <div id="riddleDisplay"></div>

    <script>
        document.getElementById("riddleButton").addEventListener("click", function() {
            fetch('/api/riddles/random')
                .then(response => response.json())
                .then(data => {
                    document.getElementById("riddleDisplay").innerText = data.riddle;
                })
                .catch(error => console.error('Error:', error));
        });
    </script>

    
    <br></br>
    <h3>Available methods</h3>
    <div class="table-container">
        <table class="main-table">
        <thead>
          <tr>
            <th>Operation</th>
            <th>URI</th>
            <th>Method</th>
            <th>Status</th>
            <th>Status Code</th>
            <th>Availability</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>All riddles</td>
            <td>https://riddles.i-co.xyz/api/riddles</td>
            <td>GET</td>
            <td>
                <table>
                    <tr>
                      <td>OK</td>
                    </tr>
                    <tr>
                      <td>Internal Server Error</td>
                    </tr>
                  </table>
            </td>
            <td>
                <table>
                    <tr>
                      <td>200</td>
                    </tr>
                    <tr>
                      <td>500</td>
                    </tr>
                  </table>
            </td>
            <td>public</td>
          </tr>
          <tr>
            <td>Random riddle</td>
            <td>https://riddles.i-co.xyz/api/riddles/random</td>
            <td>GET</td>
            <td>
                <table>
                    <tr>
                      <td>Success</td>
                    </tr>
                    <tr>
                      <td>Internal Server Error</td>
                    </tr>
                  </table>
            </td>
            <td>
                <table>
                <tr>
                  <td>200</td>
                </tr>
                <tr>
                  <td>500</td>
                </tr>
              </table>
            </td>
            <td>public</td>
          </tr>
                    <tr>
            <td>Specific riddle</td>
            <td>https://riddles.i-co.xyz/api/riddles/{id}</td>
            <td>GET</td>
            <td>
                <table>
                    <tr>
                      <td>OK</td>
                    </tr>
                    <tr>
                      <td>Bad Request</td>
                    </tr>
                             <tr>
                      <td>Not found</td>
                    </tr>
                  </table>
            </td>
            <td>
                <table>
                <tr>
                  <td>200</td>
                </tr>
                <tr>
                  <td>400</td>
                </tr>
                            <tr>
                  <td>404</td>
                </tr>
              </table>
            </td>
            <td>public</td>
          </tr>
                    <tr>
            <td>Post riddle</td>
            <td>https://riddles.i-co.xyz/api/riddles</td>
            <td>POST</td>
            <td>
                <table>
                    <tr>
                      <td>Success</td>
                    </tr>
                    <tr>
                      <td>Bad Request</td>
                    </tr>
                    <tr>
                      <td>Internal Server Error</td>
                    </tr>
                  </table>
            </td>
            <td>
                <table>
                <tr>
                  <td>201</td>
                </tr>
                <tr>
                  <td>400</td>
                </tr>
                <tr>
                  <td>500</td>
                </tr>
              </table>
            </td>
            <td>public</td>
          </tr>

                    <tr>
            <td>Delete riddle</td>
            <td>https://riddles.i-co.xyz/api/riddles/{id}</td>
            <td>DELETE</td>
            <td>
                <table>
                    <tr>
                      <td>OK</td>
                    </tr>
                    <tr>
                      <td>Bad Request</td>
                    </tr>
                    <tr>
                        <td>Not Found</td>
                      </tr>
                         <tr>
                        <td>Internal Server Error</td>
                      </tr>
                         <tr>
                        <td>Forbidden</td>
                      </tr>
                  </table>
            </td>
            <td>
                <table>
                    <tr>
                      <td>200</td>
                    </tr>
                    <tr>
                      <td>400</td>
                    </tr>
                    <tr>
                        <td>404</td>
                      </tr>
                      <tr>
                        <td>500</td>
                      </tr>
                      <tr>
                        <td>403</td>
                      </tr>
                  </table>
            </td>
            <td>restricted</td>
         <tr>
  <td rowspan="2">
    Update riddle
    <span class="tooltip">[?]
      <span class="tooltiptext">
        request body: {<br>
        &nbsp;&nbsp;"riddle": "hello again",<br>
        &nbsp;&nbsp;"solution": "he he merry christmas",<br>
        &nbsp;&nbsp;"username": "username", //optional<br>
        &nbsp;&nbsp;"user_email": "me@email.com" //optional<br>
        }
      </span>
    </span>
  </td>
  <td>https://riddles.i-co.xyz/api/riddles/{id}</td>
  <td>PATCH</td>
  <td>
      <table>
          <tr>
            <td>OK</td>
          </tr>
          <tr>
            <td>Bad Request</td>
          </tr>
          <tr>
              <td>Not Found</td>
            </tr>
           <tr>
              <td>Internal Server Error</td>
            </tr>
           <tr>
              <td>Forbidden</td>
            </tr>
        </table>
  </td>
  <td>
      <table>
          <tr>
            <td>200</td>
          </tr>
          <tr>
            <td>400</td>
          </tr>
          <tr>
              <td>404</td>
            </tr>
            <tr>
              <td>500</td>
            </tr>
            <tr>
              <td>403</td>
            </tr>
        </table>
  </td>
  <td>restricted</td>
</tr>
        </tbody>
      </table>
    </div>
    <br></br>

 
<h4>See it on <a href="https://github.com/IonutInit/riddles-api" target="_blank">GitHub</a></h4>
<div class="divider"></div>
      
</body>
</html>